article(class=showChat ? 'container chat' : 'no-content' id='chat')
	section(class='row chat-wrapp')
		div(class='container chat-window')
			div(class='row messages-clients-list')
				div(class='col-xs-9 container messages-box')
				div(class='col-xs-3 container clients-list')
			div(class='row new-message')
				textarea(autofocus class='col-xs-9')
				input(type='button' class='col-xs-3' value='send')