article(class='container')
	section(class='header-title row')
		div(class='col-xs-3' id='header-user')
			#header-user-name
		div(class='col-xs-6')
			div(class='fa fa-grav fa-4x')
		.col-xs-1.nice#nice1
		.col-xs-1.nice#nice2
		.col-xs-1.nice#nice3