article(class=showChat ? 'no-content' : 'container hellopage' id='helloPage')
	section(class='row chat-wrapp')
		div(class='m-window container')
			.row.center-xs
				p HI MY FRIEND, LET'S JOIN US
			.row.center-xs
				input(type='text' placeholder='Fill in ur name' id='nameInp' autofocus)
			.row.center-xs
				.fa.fa-sign-in.fa-4x#joinChat
		.blurback