body{margin: 0;padding: 0;height: 100%;}
.no-content{display: none;}
textarea{resize: none;}
/* HEADER */
header{
	background-color: #845ac7;
	margin-bottom: 10px;
}
.header-title{
	color: #fff;
	text-align: center;
}

/* CONTENT */
.m-window{
	background-color: #e7def3
}
#main, .chat, .chat-wrapp, .hellopage, .chat-window, .m-window{
	height: 100%;
}
.chat{
	max-width: 740px;
}
.messages-box, .clients-list, .new-message{
	border: 1px solid #2c1a4a;
}
.messages-box{
	padding: 0 !important;
	overflow-x: hidden;
	overflow-y: auto;
}
.messages-clients-list{
	height: 75%;
}
.new-message{
	min-height: 25px;
	height: 5%;
}

.button {
	font-weight: 600;
	background-color: #ccc;
	background-clip: padding-box;
	border: 1px solid;
	border-color: #202020 #1a1a1a #111;
	background-image: -webkit-linear-gradient(top, #efefef, #777);
	background-image: -moz-linear-gradient(top, #efefef, #777);
	background-image: -o-linear-gradient(top, #efefef, #777);
	background-image: linear-gradient(to bottom, #efefef, #777);
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.09), 0px 1px 1px rgba(0, 0, 0, 0.2);
}
.button:hover {
	background-color: #aaaaaa;
	background-image: -webkit-linear-gradient(top, #ccc, #555);
	background-image: -moz-linear-gradient(top, #ccc, #555);
	background-image: -o-linear-gradient(top, #ccc, #555);
	background-image: linear-gradient(to bottom, #ccc, #555);
}
.button:active, .button.active {
	background-color: #b42f32;
	border-color: #1c1c1c #202020 #222;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.09);
}
.lightGrey {
	color: #bbb;
	text-shadow: 0 0 2px rgba(0, 0, 0, .7);
	background-color: #303030;
	border-color: #1c1c1c #202020 #222;
	background-image: -webkit-linear-gradient(top, #8e8e8e, #434343);
	background-image: -moz-linear-gradient(top, #8e8e8e, #434343);
	background-image: -o-linear-gradient(top, #8e8e8e, #434343);
	background-image: linear-gradient(to bottom, #8e8e8e, #434343);
}
.lightGrey:hover {
	background-color: #313131;
	background-image: -webkit-linear-gradient(top, #7b7b7b, #2a2a2a);
	background-image: -moz-linear-gradient(top, #7b7b7b, #2a2a2a);
	background-image: -o-linear-gradient(top, #7b7b7b, #2a2a2a);
	background-image: linear-gradient(to bottom, #7b7b7b, #2a2a2a);
}

/*
---------------------

SINGLE MESSAGES STYLING

----------------------
*/
.mine-message, .i-am{
	margin: 5px;
	float: right;
}
.gotten-message, .interlocutor, .new-user-notice, .welcome-message{
	margin: 5px;
	float: left;
}
.i-am, .interlocutor{
	margin-bottom: -3px;
}
.single-message{
	padding: 5px;
	border: 1px solid red;
	border-radius: 5px;
	background-color: #DFE27D;
}