body{margin: 0;padding: 0;height: 100%;}
.no-content{display: none;}
textarea{resize: none;}
/* HEADER */
header{
	background-color: #845ac7;
	margin-bottom: 10px;
}
.header-title{
	color: #fff;
	text-align: center;
}

/* CONTENT */
.m-window{
	background-color: #e7def3
}
#main, .chat, .chat-wrapp, .hellopage, .chat-window, .m-window{
	height: 100%;
}
.messages-box, .clients-list, .new-message{
	border: 1px solid #2c1a4a;
}
.messages-clients-list{
	height: 65%;
}
.new-message{
	min-height: 25px;
	height: 5%;
}