head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	link(rel="stylesheet", href="/stylesheets/equalize.css")
	link(rel="stylesheet", href="/stylesheets/style.css")
	script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
	//- script(scr='/jquery.js')
	//-script(src='/socket.io/socket.io.js')
	//-script(src='/socket.io.js')
	script(src='https://cryptic-fjord-64553.herokuapp.com/socket.io.js')
	title= title
body
	header
		include ../partials/header
	article(id='main')
		include ../partials/hellopage
		include ../partials/chat

	script(src='main.js')