head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	link(rel="stylesheet", href="/stylesheets/equalize.css")
	link(rel="stylesheet", href="/stylesheets/style.css")
	script(src='http://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
	title= title
body
	header
		include ../partials/header
	article(id='main')
		if showChat
			include ../partials/chat
		else
			include ../partials/hellopage
	
	script(scr='jquery.js')
	script(src='/socket.io/socket.io.js')
	script(src='main.js')